{% extends 'default/index.html.twig' %}
{% block body %}
    <link rel="stylesheet" href="{{ data.url }}/css/style.css" />
    {% if data.msg is defined %}
        <span>{{ data.msg }}</span>
    {% endif %}
    <form action="" method="POST">
        <ul>
            <li>
                <label for="table_name">Table Name</label>
                <input type="text" name="table_name" id="entity_name">
            </li>
            <li>
                <label for="table_format">Entity Format</label>
                <select name="table_format">
                    <option value="0">Select Format</option>
                    <option value="yaml">YAML</option>
                    <option value="xml">XML</option>
                    <option value="php">PHP</option>
                    <option value="annotation">Annotation</option>
                </select>
            </li>
            <li>Fields</li>
            <li id="fields"></li>
            <li>
                <select name="field_type" id="field_type">
                    <option value="0">Select Type</option>
                    <option value="array">Array</option>
                    <option value="bigint">Big Int</option>
                    <option value="binary">Binary</option>
                    <option value="blob">Blob</option>
                    <option value="boolean">Boolean</option>
                    <option value="decimal">Decimal</option>
                    <option value="datetime">Date Time</option>
                    <option value="datetimetz">Date Time TZ</option>
                    <option value="date">Date</option>
                    <option value="float">Float</option>
                    <option value="guid">Guid</option>
                    <option value="integer">Integer</option>
                    <option value="jsonarray">Json Array</option>
                    <option value="object">Object</option>
                    <option value="simplearray">Simple Array</option>
                    <option value="smallint">Small Int</option>
                    <option value="string">String</option>
                    <option value="text">Text</option>
                    <option value="time">Time</option>
                </select>
                <input type="button" name="add_field" id="add_field" value="add field">
            </li>
            <li>
                <input type="submit" value="Create Table">
            </li>
        </ul>
    </form>
    <script src="{{ data.url }}/js/tables.js"></script>
{% endblock body %}